extends layout

block content
  h1= title
  p Welcome to #{title}
  button(onclick='window.location="/new"') Add a message
  div
    each msg in messages
      ul
        li #{msg.text}
        li by #{msg.user} at #{msg.added.toDateString() + ' ' + msg.added.toTimeString().split(' ')[0]}
        